/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

// Define theme colors
$primary-color: #3498db;
$secondary-color: #2ecc71;
$accent-color: #e74c3c;
$background-color: #f0f0f0;
$text-color: #333333;